*{ /*Establece los valores de margen, relleno, borde, tamaño de fuente y alineación vertical de todos los elementos HTML en cero o al valor por defecto.*/
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body { /*Alinea el texto del cuerpo de la página al centro.*/
    text-align: center;
}

.head { /*Establece las propiedades para el encabezado de la página, incluyendo su posición fija en la parte superior de la página, su altura, color de fondo y un diseño flexbox con los elementos internos centrados y separados entre sí.*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #202020;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar { /*Establece las propiedades para la barra de navegación, incluyendo su disposición como un contenedor de elementos flexibles y un margen derecho de 10 píxeles.*/
    display: flex;
    margin-right: 10px;
}

.logo { /*establece un margen izquierdo de 30 píxeles para el elemento del logo.*/
    margin-left: 30px;
}

.logo a { /* Establece el estilo para un enlace dentro del elemento del logo, incluyendo la eliminación de subrayado, el color del texto y el tamaño de fuente. */
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a { /*Establece el estilo para los enlaces dentro de la barra de navegación, incluyendo un formato de bloque, un relleno de 20 píxeles en la parte superior e inferior y un tamaño de fuente y color de texto determinados.*/
    display: block;
    padding: 20px 20px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover { /*Establece un color de fondo cuando se pasa el cursor sobre un enlace en la barra de navegación.*/
    background: #414141;
}

.header { /*Define el estilo para el encabezado principal de la página, que incluye un diseño flexbox y una imagen de fondo escalada para ajustarse al tamaño del contenedor.*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh !important;
    background: url(../assets/header.jpg) no-repeat center;
    background-size: cover;
    

}

.title { /*Establece el estilo para el título en el encabezado principal, incluyendo el tamaño de fuente, peso de fuente, color del texto y transformación de texto en mayúsculas.*/
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}

p {  /*Establece el estilo para los párrafos en el encabezado principal, incluyendo el tamaño de fuente, color del texto, margen inferior y relleno a la iz*/
    margin-bottom: 40px;
    font-size: 35px;
    color: #ffffff;
    padding: 0 100px;
}

/* Estilos para los botones */
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #131313;
    color: #fff;
    text-decoration: none;
    background: #ffffff;
}

/* Establecer los estilos del botón al pasar el cursor sobre él */
.btn:hover {
    background: none;
    display: flex;
    
}

/* Establecer los estilos del botón de inicio */
.btn-home {
    display: flex;
}

/* Establecer los estilos de los enlaces en el botón de inicio */
.btn-home a {
    margin: 0 10px;
}

/* Establecer los estilos del contenido */
.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 30px;
    background: #383838;
    /*sirve para rellenar el contenido con la imagen */
    
}

.price {
    background: url(../assets/costos.jpg) no-repeat center;
    background-size:cover;
    text-align: center;
    
    /* ayuda a tapar la mitad del background con la imagen de costos*/
}


.contact {
    padding-top: 20px;
    background: #252525;
    padding-bottom: 0;
    /*le da el color azul marino y lo centra para q no haya bordes blancos*/
  
}

  .box a:hover {
    background: #6d6d6d; /*vuelve invisible el boton ya q se camufla con el color del fondo q son iguales*/
  }

  .box a {
    display: block; /*le da la forma del boton*/
    padding: 20px 20px; /*esto sirve para darle forma al hover y no se salga del navbar*/
    color: #ffffff;/*color del texto*/
    text-decoration: none; /*le quita la linea de abajo*/
    text-transform: uppercase; /*se utiliza para convertir el texto en mayúsculas.*/
    font-size: 20px; /*sirve para cambiar el tamaño del texto*/
  }

@media (max-width: 768px) {
    /*esta clase establece algunos estilos para un elemento con la clase sau.*/
    .sau {
        height: 100vh;/*esta regla establece que la altura del elemento con la clase sau se establece en el 100% de la altura de la pantalla.*/
    }
    /*esta clase establece algunos estilos para una barra de navegación.*/
    .navbar {
        display: none;  /*esta regla establece que la barra de navegación se oculta y no se muestra en pantallas con un ancho menor o igual a 768 píxeles.*/
    }
   
    }

.imagen1{
    /* image 1 */


position: absolute;
width: 420px;
height: 224px;
left: 87px;
top: 999px;

background: url(../assets/Contabilidad\ mensual\ para\ empresas.png);
}